.sidenav {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 25px;
  }

  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    padding-bottom: 50px;
    
  }

  .sidenav a:hover {
      color: white;
      text-decoration: none;
      transition: 300ms ease-in;
  }


  .sidenav h1 {
      padding-bottom: 60px;
      color: white;
  }

  .container {
    margin-left: 350px !important;
  }

  .education-section {
    text-align: left !important;
    margin-left: 250px;
  }


  .about-section {
    margin-top: 300px !important;
  }


  .section {
    margin-top: 50px;
    text-align: center;
    margin-left: 250px;
  }

  section {
    height: 100vh;

  }

  .section-header {
    padding-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.3rem;
  }
  .list-title {
    text-decoration: underline;
  }
  

  .skills-languages {
    display: flex;
    justify-content: space-around; 
  }

  .skills-languages .list-title {
    text-align: left;
  }

  .list {
    text-align: left;
  }


